
.jumbotron {
    /* background-image: url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1153&q=80"); */
    background-size: cover; 
    height: 400px;
    color: white;
}

.cardBook {
    position: absolute;
    top: 120px;
    left: 800px;
    -webkit-box-shadow: -1px 0px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 11px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 11px 0px rgba(0,0,0,0.75);
    border-radius: 20px !important;
    height: 299px;
}

.card-img-top {
    border-radius: 20px !important;
}